# Dependências e Builds 
node_modules
.next
out
build
dist

# Logs e Temporários 
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
tmp/

# Git e IDEs
.git
.gitignore
.vscode
.idea
.dockerignore

# Docker e CI/CD
Dockerfile
docker-compose.yml
.github/